<div class="grid">
    <div class="col-12 md:col-6 h-30rem">
        <app-qr-card-component [qrData]="qrData" [qrColor]="qrColor" [logoUrl]="imageSrc || ''" />
    </div>
    <div class="col-12 md:col-6">
        <p-card header="Configuration" [styleClass]="'respon custom-border'">
            <form action="">
                <div class="field grid">
                    <div class="col-12">
                        <h4 class="mb-1">Data</h4>
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input type="text" style="width: 100%;" pInputText placeholder="Search" />
                        </p-iconField>
                    </div>
                </div>
                <hr>
                <div class="field">
                    <h4 class="mb-1">Logo</h4>
                    <div class="grid grid-nogutter">
                        <div class="col-3">
                            <p-fileUpload #fileUpload mode="basic" multiple="false" chooseLabel="Choose"
                                chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [auto]="true"
                                (onSelect)="onUpload($event, fileUpload)" />
                        </div>
                        <div class="col-9 offset"><span>{{imageTitle}}</span></div>
                    </div>
                </div>
                <hr>
                <div class="field grid">
                    <div class="col">
                        <h4 style="padding: 0;margin: 0;">QR Color</h4>
                        <input type="color" [(ngModel)]="qrColor" name="qrColor">
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>