<!-- <div class="flex align-items-center justify-content-center flex-row flex-wrap bg-primary h-screen p-0 m-0">
    <div class="flex align-items-center justify-content-center col-1 h-4rem rado  font-bold border-round">2</div>
    <div class="flex align-items-center justify-content-center w-1 h-4rem rado font-bold border-round">2</div>
    <div class="flex align-items-center justify-content-center w-1 h-4rem rado font-bold border-round">2</div>
</div> -->

<div class="grid">
    <div class="col-12 md:col-6 h-25rem">
        <app-qr-card-component [qrData]="myForm.get('data')?.value" 
        [qrColor]="myForm.get('color')?.value" 
        [logoUrl]="imageSrc || ''" [errCorrLevel]="myForm.get('errCorrLevel')?.value" />
    </div>
    <div class="col-12 md:col-6">
        <p-card header="Configuration" [styleClass]="'respon custom-border'">
            <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="field grid">
                    <div class="col-12">
                        <h4 class="mb-1">Data</h4>
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search"/>
                            <input type="text" style="width: 100%;" formControlName="data" pInputText placeholder="Search" />
                        </p-iconField>
                    </div>
                </div>
                <hr>
                <div class="field">
                    <h4 class="mb-1">Logo</h4>
                    <div class="grid grid-nogutter">
                        <div class="col-5 md:col-4 lg:col-3 flex align-items-center justify-content-start">
                            <p-fileUpload #fileUpload mode="basic" multiple="false" chooseLabel="Choose"
                                chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [auto]="true"
                                (onSelect)="onUpload($event, fileUpload)" />
                        </div>
                        <div class="col-4  md:col-8 lg:col-9 flex align-items-center justify-content-start"><h3>{{imageTitle}}</h3></div>
                    </div>
                </div>
                <hr>
                <div class="field grid">
                    <div class="col">
                        <h4 class="mb-1">ErrorCorrectionLevel
                            <!-- <p-button (onClick)="op.toggle($event)" icon="pi pi-bookmark" [rounded]="true"  size="small"/> -->
                        </h4>
                        <div class="flex flex-wrap gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton value="L" formControlName="errCorrLevel" inputId="lower" />
                                <label for="lower" class="ml-2 pointer_cursor">
                                    Lower
                                </label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton value="M" formControlName="errCorrLevel" 
                                    inputId="medium" />
                                <label for="medium" class="ml-2 pointer_cursor">
                                    Medium(Default)
                                </label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton value="Q" formControlName="errCorrLevel" inputId="quartil" />
                                <label for="quartil" class="ml-2 pointer_cursor">
                                    Quartil
                                </label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton value="H" formControlName="errCorrLevel" inputId="high" />
                                <label for="high" class="ml-2 pointer_cursor">
                                    High
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col">
                        <h4 style="padding: 0;margin: 0;">QR Color</h4>
                        <input type="color" formControlName="color" name="qrColor">
                    </div>
                </div>
                <!-- <div class="field grid">
                    <div class="col">
                        <p-button type="submit" label="Submit" icon="pi pi-check" />
                    </div>
                </div> -->
            </form>
        </p-card>
    </div>
</div>

<!-- {{myForm.value|json}} -->