.ui-fileupload-button {
    font-size: 0.8em; /* Cambia el tamaño de la fuente */
    padding: 5px 10px; /* Ajusta el padding */
    background-color: red;
}

// clase para agregar un cursor del tipo pointer
.pointer_cursor {
    cursor: pointer;
}

.rado{
    background-color: red;
}
