
@import "primeicons/primeicons.css";

.respon{
    // min-height: 72vh;
    max-height: 100vh;
    height: 88vh;
    // background-color: red;
}

.custom-border {
    // border: 2px solid red; /* Cambia el color y el grosor según sea necesario */
    border-radius: 8px; /* Opcional: para bordes redondeados */
}


.custom-file-upload {
    background-color: transparent;
}

.custom-file-upload input {
    display: none; /* Oculta el input original */
}

.bgll{
    background-color: green;
}